<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995210164942-96ibpuoa9r66uqkfb6evuvqdck3ee1mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995210164942-96ibpuoa9r66uqkfb6evuvqdck3ee1mj</string>
	<key>API_KEY</key>
	<string>AIzaSyBdbvXHPKB955Jmn78guvJNxDZG6zBPOEY</string>
	<key>GCM_SENDER_ID</key>
	<string>995210164942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-a8569</string>
	<key>STORAGE_BUCKET</key>
	<string>project-a8569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995210164942:ios:820d57e9706e04d9492e9f</string>
</dict>
</plist>